<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">DEPARTMENT</label><select name="" id="" class="form-control">
                    <option value="Gynaecology">Gynaecology</option>
                    <option value="Paediatrics">Paediatrics</option>
                    <option value="ENT">ENT</option>
                    <option value="DENTAL">DENTAL</option>
                    <option value="Orthopaedics">Orthopaedics</option>
                    <option value="Cardiology">Cardiology</option>
                    <option value="Psychiartry">Psychiartry</option>
                    <option value="Skin">Skin</option>
                    <option value="Eye">Eye</option>
                </select></div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><button class="btn btn-primary">SEARCH</button></div>
        </div>
    </div>
</div>
