<div class="container">
    <div class="row">
        <div class="col col-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
        <div class="row g-3">
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_866954731.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr.Ashish s Nair</h5>
                      <p class="card-text">Consultant Urologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>


            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_498331857.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. A Mohamed Ali</h5>
                      <p class="card-text">Consultant Ophthalmologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/Dr%20Abu%20Madan_Neurosuegeon.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Abu Madan</h5>
                      <p class="card-text">Consultant Neurosurgeon</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_526661389.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Anju Das</h5>
                      <p class="card-text">Consultant Radiologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
           
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/Dr%20%20Althaf%20M.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Althaf Ahmed</h5>
                      <p class="card-text">Consultant, Surgical Endocrinologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_812885425.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Anish L</h5>
                      <p class="card-text">Senior Consultant Neurologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_1038962653.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Mrs. Lincy Thomas</h5>
                      <p class="card-text">Child Development Therapist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/doc_1326060859.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Veena Choodamani</h5>
                      <p class="card-text">Consultant Gynecologist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 col-xxl-3">
                <div class="card" >
                    <img height="250px"src="https://skhospitals.com/Images/Doctors/7A511B1D-66B6-4B61-8A0B-CC027C21C16C.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Dr. Sreejith Thampi J</h5>
                      <p class="card-text">Consultant Orthopedist</p>
                      <a href="#" class="btn btn-primary">Book an Appointment</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
